<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8" content="{{htmlWebpackPlugin.options.description}}">
	<title>{{htmlWebpackPlugin.options.title}}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Laila&family=Orbitron:wght@500;600&family=Press+Start+2P&family=Roboto:wght@300;400&family=Rock+Salt&family=VT323&display=swap" rel="stylesheet">
</head>
	<body>
		<div id="root"></div>
	</body>
</html>