.personalWrapper {
  display: grid;
  justify-content: center;
  grid-template-rows: [navWrapper] 8rem
                      [image] 25rem
                      [bio] 1fr
                      [footer] 10rem;
  height: 100vh;
}

.navWrapper {
  grid-area: navWrapper;
  display: flex;
	width: 98%;
	margin: auto;
}

.imageContainer {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
	width: 98%;
	border-radius: 2em;
	margin: auto;
}

.bioContainer {
  grid-area: bio;
  flex-grow: 1;
  width: 100%;
  padding: .5rem;
  font-size: 2rem;
}

.personText {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personText h1 {
  margin-bottom: -0.75rem;
}

.personText p {
  font-size: 1.5rem;
}

.bioText p {
  font-size: 1.5rem;
  text-indent: 1rem;
}

.footerContainer {
  grid-area: footer;
} 