@font-face {
	font-family: RubikBurned;
	src: 	url('./assets/fonts/Rubik_Burned/RubikBurned-Regular.ttf'),
				format('truetype');
}

@font-face {
	font-family: TitilliumWeb_Black;
	src: 	url('./assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf'),
				format('truetype');
}

@font-face {
	font-family: TitilliumWeb_Bold;
	src: 	url('./assets/fonts/titillium_Web/TitilliumWeb-Bold.ttf'),
				format('truetype');
}

@font-face {
	font-family: Orbitron;
	src: 	url('./assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf'),
				format('truetype');
}

:root {
	--ac-sand: 					#F7DE8D;
	--ac-orange:				#FBB040;
	--ac-green: 				#AAC27E;
	--ac-green-opaque: 	#AAC27E69;
	--ac-blue:					#9FCFCA;
	--ac-brown: 				#594A42;
}

*,
*:before,
*:after {
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

html, body {
	box-sizing: border-box;
	overflow: auto;
}

body {
	background-color: blanchedalmond;
}