.poopin-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.poopin {
	background-color: goldenrod;
	border-radius: 10px;
	padding: 5px;
	height: 200px;
	width: 200px;
}

.poopin-text {
	text-align: center;
}