.contactWrapper {
	display: flex;
	flex-direction: column;
	padding: .12rem;
	height: 100vh;
}

.navBtn {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 3rem;
	padding-left: 1rem;
	font-family: Roboto;
	font-size: 2rem;
	border: 0.15rem solid var(--grayd-a-grey);
}

.contactHeader {
	height: 25rem;
	width: 95%;
	font-family: Laila_Med;
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contactHeader p:first-child {
	font-size: 2rem;
	text-align: left;
}

.contactHeader p:last-child {
	font-size: 1.75rem;
	text-align: right;
	text-indent: 2rem;
}

.childRoutes {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	align-items: flex-start;
}