.contactWrapper {
	display: flex;
	flex-direction: column;
	background-color: var(--ac-green);
	padding: .12rem;
	height: 100vh;
}

.navBtn {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 3rem;
	padding-left: 1rem;
	font-family: Roboto;
	font-size: 2rem;
	border: 0.15rem solid black;
}

.contactHeader {
	font-size: 2rem;
	height: 24rem;
	width: 95%;
	font-family: Laila_Med;
	margin: 1rem auto;
}

.contactHeader p {
	font-size: 1.75rem;
	text-align: left;
}

.contactHeader span {
	font-size: 1.75rem;
	text-align: right;
}

.childRoutes {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	align-items: center;
	border: .15rem solid black;
}