.homePageContainer {
	display: grid;
	grid-template-rows: [header] 8rem
											[biography] 60fr
											[navigation] 40fr
											[footer] 10rem;
	height: 100vh;
}

.headerContainer {
	grid-area: header;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerContainer h1 {
	font-size: 4em;
	font-family: Laila_Med, serif;
	text-align: center;
}

.bioContainer {
	grid-area: biography;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bioContainer img {
	width: 24em;
	margin: auto;
	border-radius: 2em;
}
.bioContainer p {
	font-family: Laila_Med, serif;
	width: 90%;
	margin: 2rem auto 1rem auto;
	font-size: 2.25rem;
	text-indent: 1rem;
	line-height: 1.5;
}
.navOptions {
	grid-area: navigation;
	font-size: 4.5em;
	border: 0.25rem solid var(--special-blue);
	border-radius: 0.5rem;
	width: 90%;
	margin: auto;
	height: 18rem;
	overflow-x: scroll;
	scroll-snap-type: y mandatory;
}

.navOptions ul {
	list-style-type: none;
	padding: 0;
}

.navOptions li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: .1rem solid var(--special-blue);
	height: 5.9rem;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.navOptions li:last-child {
	border-bottom: none;
}

.navOptions a {
	text-decoration: none;

	font-family: 'Ubuntu_Reg';
	color: var(--special-blue);
	font-size: 3.25rem;
}

.navOptions a:hover {
	color: var(--ac-orange);
}

.footerContainer {
	grid-area: footer;
	display: inline-block;
	margin: auto;
}

.footerContainer img {
	height: 8rem;
}