.homePageWrapper {
	display: grid;
	justify-content: center;
	grid-template-rows: [siteNav] 8rem
											[image] 60fr
											[navOptions] 40fr
											[footer] 10rem;
	height: 100vh;
}

.navWrapper {
	grid-area: siteNav;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imageContainer {
	grid-area: image;
	display: flex;
	justify-content: center;
}

.imageContainer img {
	height: 20em;
	border-radius: 2em;
}

.navOptions {
	grid-area: navOptions;
	font-size: 4.5em;
	border: 0.25rem solid var(--special-blue);
	border-radius: 0.5rem;
	width: 90%;
	margin: auto;
	height: 18rem;
	overflow-x: scroll;
	scroll-snap-type: y mandatory;
}

.navOptions ul {
	list-style-type: none;
	padding: 0;
}

.navOptions li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: .1rem solid var(--special-blue);
	height: 5.9rem;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.navOptions li:last-child {
	border-bottom: none;
}

.navOptions a {
	text-decoration: none;

	font-family: 'Ubuntu_Reg';
	color: var(--special-blue);
	font-size: 3.25rem;
}

.navOptions a:hover {
	color: var(--ac-orange);
}

.footerContainer {
	grid-area: footer;
	display: inline-block;
	margin: auto;
}

.footerContainer img {
	height: 8rem;
}